In [41]:
import pandas as pd

In [42]:
combinedData = pd.read_csv(r"C:\Users\fridm\Desktop\GraphPropertyPredict\combinedData.csv")

resultsAlgo = pd.read_csv(r"C:\Users\fridm\Desktop\GraphPropertyPredict\results_8.csv")

In [43]:
combinedData

,num_deg_ge_5,num_optimal_orderings,avg_degree,best_ordering,num_components,n,edges,density,component_sizes,clique_number,num_isolated,num_orderings,graph_id,best_coloring,num_deg_ge_2,num_deg_ge_3,best_k,m,max_degree,colorIsLessThanTwo
0,0,16,2.250000,"[1, 0, 6, 4, 5, 3, 7, 2]",1,8,"[[0, 1], [0, 5], [0, 6], [2, 3], [2, 7], [3, 5...",0.321429,[8],3,0,40320,0,"{""5"": 1, ""0"": 1, ""3"": 2, ""4"": 2, ""6"": 2, ""7"": ...",5,4,2,9,4,1
1,0,24,2.000000,"[0, 2, 1, 6, 5, 4, 3, 7]",3,8,"[[1, 2], [1, 5], [1, 6], [3, 4], [3, 5], [4, 5...",0.285714,"[6, 1, 1]",3,2,40320,1,"{""4"": 1, ""5"": 2, ""6"": 1, ""1"": 2, ""3"": 2, ""0"": ...",5,4,2,8,4,1
2,0,64,2.000000,"[2, 4, 5, 6, 0, 1, 7, 3]",2,8,"[[0, 1], [0, 5], [0, 7], [1, 6], [1, 7], [2, 4...",0.285714,"[7, 1]",3,1,40320,2,"{""0"": 1, ""1"": 2, ""6"": 2, ""5"": 1, ""4"": 2, ""2"": ...",7,2,2,8,3,1
3,1,2836,3.000000,"[0, 1, 2, 4, 3, 5, 6, 7]",2,8,"[[0, 1], [0, 2], [0, 4], [0, 7], [1, 3], [1, 4...",0.428571,"[7, 1]",3,1,40320,3,"{""0"": 1, ""3"": 2, ""4"": 3, ""7"": 1, ""2"": 4, ""5"": ...",7,6,4,12,5,0
4,0,40,3.250000,"[1, 2, 5, 0, 6, 3, 4, 7]",1,8,"[[0, 3], [0, 4], [0, 5], [0, 6], [1, 5], [1, 6...",0.464286,[8],3,0,40320,4,"{""6"": 1, ""0"": 2, ""2"": 3, ""3"": 3, ""5"": 2, ""1"": ...",8,6,3,13,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36855,0,744,1.777778,"[0, 5, 6, 1, 2, 7, 8, 4, 3]",3,9,"[[0, 5], [0, 6], [1, 8], [2, 7], [4, 7], [4, 8...",0.222222,"[5, 3, 1]",3,1,362880,775,"{""8"": 1, ""1"": 1, ""2"": 2, ""5"": 1, ""7"": 2, ""0"": ...",6,2,2,8,3,1
36856,4,260,3.777778,"[1, 6, 0, 2, 4, 8, 7, 3, 5]",2,9,"[[0, 1], [0, 4], [0, 6], [0, 7], [0, 8], [1, 2...",0.472222,"[8, 1]",4,1,362880,776,"{""2"": 1, ""4"": 2, ""0"": 3, ""8"": 4, ""6"": 4, ""7"": ...",8,7,4,17,6,0
36857,0,192,1.111111,"[0, 1, 2, 3, 4, 5, 6, 7, 8]",4,9,"[[0, 1], [1, 2], [2, 3], [4, 5], [6, 7]]",0.138889,"[4, 2, 2, 1]",2,1,362880,777,"{""0"": 1, ""1"": 1, ""2"": 1, ""3"": 1, ""4"": 1, ""5"": ...",2,0,1,5,2,1
36858,0,1992,1.555556,"[0, 1, 2, 4, 5, 6, 3, 7, 8]",2,9,"[[0, 2], [1, 4], [2, 4], [3, 6], [3, 8], [4, 7...",0.194444,"[8, 1]",2,1,362880,778,"{""4"": 1, ""7"": 1, ""1"": 1, ""2"": 2, ""3"": 2, ""5"": ...",5,1,2,7,3,1
36859,1,3840,2.222222,"[0, 3, 1, 4, 5, 7, 8, 2, 6]",1,9,"[[0, 4], [0, 5], [1, 3], [1, 8], [2, 6], [2, 8...",0.277778,[9],3,0,362880,779,"{""4"": 1, ""1"": 2, ""5"": 3, ""8"": 2, ""0"": 3, ""3"": ...",8,1,3,10,5,0

In [44]:
resultsAlgo

,graph_id,graph,n,m,time_ms,result
0,0,"[[0, 1], [0, 5], [0, 6], [2, 3], [2, 7], [3, 5...",8,9,8.899,1
1,1,"[[1, 2], [1, 5], [1, 6], [3, 4], [3, 5], [4, 5...",8,8,0.414,1
2,2,"[[0, 1], [0, 5], [0, 7], [1, 6], [1, 7], [2, 4...",8,8,41.364,1
3,3,"[[0, 1], [0, 2], [0, 4], [0, 7], [1, 3], [1, 4...",8,12,0.059,0
4,4,"[[0, 3], [0, 4], [0, 5], [0, 6], [1, 5], [1, 6...",8,13,133863.583,0
...,...,...,...,...,...,...
34151,1471,[],8,0,0.039,1
34152,1472,[],8,0,0.029,1
34153,1473,"[[0, 1], [0, 2], [0, 3], [0, 6], [0, 7], [1, 2...",8,16,0.030,0
34154,1474,"[[0, 1], [1, 2], [2, 5], [3, 4], [3, 5], [3, 6...",8,13,0.028,0
34155,1475,"[[0, 5], [0, 7], [1, 5], [2, 3], [2, 4], [2, 6...",8,10,0.080,0

In [45]:
resultsAlgo.shape

(34156, 6)

In [46]:
combinedData.shape

(36860, 20)

In [47]:
import pandas as pd
import hashlib

def canonical_edges(x):
    # x: [[a,b], [c,d], ...]
    if x is None or (isinstance(x, float) and pd.isna(x)):
        return None
    # make each edge unordered (min,max), then sort all edges
    edges = [tuple(sorted(e)) for e in x]
    edges.sort()
    return edges  # list of tuples

def hash_edges(edges):
    if edges is None:
        return None
    # stable bytes representation
    b = repr(edges).encode("utf-8")
    return hashlib.sha256(b).hexdigest()

results_h = resultsAlgo.copy()
combined_h = combinedData.copy()

results_h["graph_hash"] = results_h["graph"].apply(canonical_edges).apply(hash_edges)
combined_h["edges_hash"] = combined_h["edges"].apply(canonical_edges).apply(hash_edges)
combined_first = combined_h.drop_duplicates(subset="edges_hash", keep="first")

merged = results_h.merge(
    combined_first,
    how="inner",
    left_on="graph_hash",
    right_on="edges_hash",
    suffixes=("_results", "_combined")
)

In [48]:
merged.columns

Index(['graph_id_results', 'graph', 'n_results', 'm_results', 'time_ms',
       'result', 'graph_hash', 'num_deg_ge_5', 'num_optimal_orderings',
       'avg_degree', 'best_ordering', 'num_components', 'n_combined', 'edges',
       'density', 'component_sizes', 'clique_number', 'num_isolated',
       'num_orderings', 'graph_id_combined', 'best_coloring', 'num_deg_ge_2',
       'num_deg_ge_3', 'best_k', 'm_combined', 'max_degree',
       'colorIsLessThanTwo', 'edges_hash'],
      dtype='object')

In [49]:
merged.shape

(34156, 28)

In [51]:
merged

,graph_id_results,graph,n_results,m_results,time_ms,result,graph_hash,num_deg_ge_5,num_optimal_orderings,avg_degree,...,num_orderings,graph_id_combined,best_coloring,num_deg_ge_2,num_deg_ge_3,best_k,m_combined,max_degree,colorIsLessThanTwo,edges_hash
0,0,"[[0, 1], [0, 5], [0, 6], [2, 3], [2, 7], [3, 5...",8,9,8.899,1,c72bf2945fca6d358aa8a60839c713d19fe8c9f2b2e43b...,0,16,2.25,...,40320,0,"{""5"": 1, ""0"": 1, ""3"": 2, ""4"": 2, ""6"": 2, ""7"": ...",5,4,2,9,4,1,c72bf2945fca6d358aa8a60839c713d19fe8c9f2b2e43b...
1,1,"[[1, 2], [1, 5], [1, 6], [3, 4], [3, 5], [4, 5...",8,8,0.414,1,30195f7f2794fd99dbb1e1f5669e987995e188fd1a5ea1...,0,24,2.00,...,40320,1,"{""4"": 1, ""5"": 2, ""6"": 1, ""1"": 2, ""3"": 2, ""0"": ...",5,4,2,8,4,1,30195f7f2794fd99dbb1e1f5669e987995e188fd1a5ea1...
2,2,"[[0, 1], [0, 5], [0, 7], [1, 6], [1, 7], [2, 4...",8,8,41.364,1,b1fa5674156a287b263ee6e106110a90381c47c794396e...,0,64,2.00,...,40320,2,"{""0"": 1, ""1"": 2, ""6"": 2, ""5"": 1, ""4"": 2, ""2"": ...",7,2,2,8,3,1,b1fa5674156a287b263ee6e106110a90381c47c794396e...
3,3,"[[0, 1], [0, 2], [0, 4], [0, 7], [1, 3], [1, 4...",8,12,0.059,0,b614a5510bc1274aff15e81ce0e6600da7ff74e525b1bc...,1,2836,3.00,...,40320,3,"{""0"": 1, ""3"": 2, ""4"": 3, ""7"": 1, ""2"": 4, ""5"": ...",7,6,4,12,5,0,b614a5510bc1274aff15e81ce0e6600da7ff74e525b1bc...
4,4,"[[0, 3], [0, 4], [0, 5], [0, 6], [1, 5], [1, 6...",8,13,133863.583,0,5bd30247bacdfe86290dd26f8c27df2041ef9985fb9995...,0,40,3.25,...,40320,4,"{""6"": 1, ""0"": 2, ""2"": 3, ""3"": 3, ""5"": 2, ""1"": ...",8,6,3,13,4,0,5bd30247bacdfe86290dd26f8c27df2041ef9985fb9995...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34151,1471,[],8,0,0.039,1,da14a3be90f592f9e25405a4240ab0d6f6fbc813f03a31...,0,2,0.00,...,2,0,"{""0"": 1, ""1"": 1}",0,0,1,0,0,1,da14a3be90f592f9e25405a4240ab0d6f6fbc813f03a31...
34152,1472,[],8,0,0.029,1,da14a3be90f592f9e25405a4240ab0d6f6fbc813f03a31...,0,2,0.00,...,2,0,"{""0"": 1, ""1"": 1}",0,0,1,0,0,1,da14a3be90f592f9e25405a4240ab0d6f6fbc813f03a31...
34153,1473,"[[0, 1], [0, 2], [0, 3], [0, 6], [0, 7], [1, 2...",8,16,0.030,0,6902db540341edca16a021fb63f7e69ad6f0f8eeffb1b4...,3,148,4.00,...,40320,1473,"{""6"": 1, ""7"": 2, ""2"": 3, ""3"": 4, ""0"": 4, ""4"": ...",8,7,4,16,5,0,6902db540341edca16a021fb63f7e69ad6f0f8eeffb1b4...
34154,1474,"[[0, 1], [1, 2], [2, 5], [3, 4], [3, 5], [3, 6...",8,13,0.028,0,6a0d5c33179e15ceb7c9971081af7ec79c87bc427255f1...,1,1152,3.25,...,40320,1474,"{""4"": 1, ""3"": 2, ""5"": 3, ""6"": 4, ""7"": 2, ""2"": ...",7,5,4,13,5,0,6a0d5c33179e15ceb7c9971081af7ec79c87bc427255f1...
34155,1475,"[[0, 5], [0, 7], [1, 5], [2, 3], [2, 4], [2, 6...",8,10,0.080,0,07530e2640308c6017172ee4db6e2b140013930d45cebc...,0,1152,2.50,...,40320,1475,"{""1"": 1, ""3"": 1, ""4"": 2, ""5"": 2, ""0"": 3, ""2"": ...",7,5,3,10,3,0,07530e2640308c6017172ee4db6e2b140013930d45cebc...

In [ ]:
merged[['colorIsLessThanTwo','result']]#.value_counts()

       colorIsLessThanTwo  result
0                       1       1
1                       1       1
2                       1       1
3                       0       0
4                       0       0
...                   ...     ...
34151                   1       1
34152                   0       1
34153                   0       0
34154                   1       0
34155                   1       0

[34156 rows x 2 columns]

In [56]:
merged[merged['colorIsLessThanTwo']!=merged['result']]
#.value_counts()

,graph_id_results,graph,n_results,m_results,time_ms,result,graph_hash,num_deg_ge_5,num_optimal_orderings,avg_degree,...,num_orderings,graph_id_combined,best_coloring,num_deg_ge_2,num_deg_ge_3,best_k,m_combined,max_degree,colorIsLessThanTwo,edges_hash
5,5,"[[0, 5], [0, 6], [0, 7], [1, 2], [1, 3], [1, 6...",8,12,4567.219,1,504282038fa69dd29128cdf63c7fa4b6b4f3933516fa32...,0,164,3.00,...,40320,5,"{""0"": 1, ""6"": 1, ""1"": 2, ""2"": 3, ""4"": 2, ""5"": ...",8,6,3,12,4,0,504282038fa69dd29128cdf63c7fa4b6b4f3933516fa32...
8,8,"[[0, 3], [0, 7], [1, 3], [1, 5], [1, 6], [2, 5...",8,10,45.955,1,88ac63fea3eb4270b5da9ee25f175674e342da21976ee7...,0,382,2.50,...,40320,8,"{""3"": 1, ""5"": 2, ""7"": 3, ""1"": 3, ""2"": 2, ""4"": ...",6,4,3,10,4,0,88ac63fea3eb4270b5da9ee25f175674e342da21976ee7...
10,10,"[[0, 1], [0, 3], [0, 7], [1, 3], [2, 3], [2, 5...",8,11,1.519,1,d31db4d41485d441a7149eae184b8e7904cb65c85caf18...,0,440,2.75,...,40320,10,"{""7"": 1, ""3"": 2, ""0"": 1, ""5"": 3, ""1"": 3, ""2"": ...",8,4,3,11,4,0,d31db4d41485d441a7149eae184b8e7904cb65c85caf18...
11,11,"[[0, 1], [0, 2], [0, 4], [1, 5], [1, 6], [1, 7...",8,11,4250.902,1,b9ede0773221a759d7b88bc55e936c27a69c75c77e8d1d...,0,140,2.75,...,40320,11,"{""7"": 1, ""2"": 1, ""0"": 2, ""1"": 2, ""4"": 3, ""5"": ...",7,6,3,11,4,0,b9ede0773221a759d7b88bc55e936c27a69c75c77e8d1d...
20,20,"[[0, 1], [0, 2], [0, 5], [1, 4], [1, 5], [1, 6...",8,11,18268.893,1,7e10fe9f8fb8cef48f79322936ef687bf81e827eb4b09e...,0,190,2.75,...,40320,20,"{""1"": 1, ""5"": 2, ""6"": 3, ""0"": 2, ""2"": 3, ""3"": ...",8,5,3,11,4,0,7e10fe9f8fb8cef48f79322936ef687bf81e827eb4b09e...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33819,1139,"[[1, 2], [1, 6], [2, 3], [2, 4], [2, 5], [4, 7...",8,9,15.456,1,817a38e6133b3d7ca444b3524137e7472183b6166bd8fd...,0,756,2.25,...,40320,1139,"{""6"": 1, ""1"": 1, ""2"": 2, ""4"": 3, ""5"": 2, ""3"": ...",6,4,3,9,4,0,817a38e6133b3d7ca444b3524137e7472183b6166bd8fd...
33884,1204,"[[5, 7], [5, 8], [5, 9], [6, 7], [6, 8], [6, 9]]",10,6,0.181,1,ff8bb36b1d3c5d101d42ebdec2ca8473c5623fa70ec283...,0,51,1.20,...,512,1204,"{""8"": 1, ""7"": 2, ""9"": 3, ""5"": 3, ""6"": 2, ""0"": ...",5,2,3,6,3,0,ff8bb36b1d3c5d101d42ebdec2ca8473c5623fa70ec283...
34014,1334,"[[0, 2], [0, 3], [0, 4], [0, 6], [1, 4], [2, 5...",8,11,3281.932,1,0c3894d74cd2df5f8d68a6da40f39345b97af6758c707b...,0,160,2.75,...,40320,1334,"{""2"": 1, ""6"": 2, ""3"": 3, ""5"": 3, ""0"": 2, ""7"": ...",6,5,3,11,4,0,0c3894d74cd2df5f8d68a6da40f39345b97af6758c707b...
34084,1404,"[[0, 2], [0, 3], [0, 5], [0, 6], [1, 3], [1, 5...",8,12,1143.737,1,8d23aa0031e880226f259ad63d9a98475ff559360d1e03...,0,132,3.00,...,40320,1404,"{""0"": 1, ""5"": 2, ""2"": 2, ""3"": 1, ""4"": 3, ""7"": ...",7,7,3,12,4,0,8d23aa0031e880226f259ad63d9a98475ff559360d1e03...
34101,1421,"[[0, 1], [0, 2], [0, 4], [0, 6], [1, 6], [1, 7...",8,9,9.197,1,1bef1791ae1cf18b212556edcf4801282bc88e385e1561...,0,480,2.25,...,40320,1421,"{""0"": 1, ""1"": 2, ""4"": 3, ""7"": 2, ""2"": 1, ""6"": ...",6,5,3,9,4,0,1bef1791ae1cf18b212556edcf4801282bc88e385e1561...